<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.yodde.co.kr/store">
	<insert id="writeReview" parameterType="com.yodde.reviewModel.ReviewDto">
		INSERT into REVIEW(reviewId, storeId, writer, rate, writeDate, lastModify, like1, unlike, report, content, pic1, pic2, pic3, pic4, pic5) values(
			SEQ_REVIEW.NEXTVAL, 
			#{storeId},
			#{writer},
			#{rate},
			SYSDATE, 
			SYSDATE, 
			#{like1}, 
			#{unlike}, 
			#{report}, 
			#{content},
			#{pic1},
			#{pic2},
			#{pic3},
			#{pic4},
			#{pic5}
		)
	</insert>
	
	<select id="selectReviewByStoreId" parameterType="int" resultType="com.yodde.reviewModel.Review" >
		select R.REVIEWID, R.STOREID, M.PROFILEPIC, M.NICKNAME AS writer, R.RATE, R.WRITEDATE, R.LASTMODIFY, R.LIKE1, R.UNLIKE,
			R.REPORT, R.CONTENT, R.PIC1, R.PIC2, R.PIC3, R.PIC4, R.PIC5 
		from REVIEW r,MEMBER m where r.writer = m.email AND r.storeId = 4 ORDER BY r.writedate DESC
	</select>	
</mapper>