<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.yodde.co.kr/store">
   
   <select id="followCheck" parameterType="java.util.HashMap" resultType="String">
      select * from follow_store where storeId=#{store} and storefollowee=#{email}
   </select>
   
   <select id="checkFollowMember" parameterType="java.util.HashMap" resultType="String">
      <![CDATA[
      select * from follow_member where followee=#{follower} and follower=#{followee}
      ]]>
   </select>
   
   <delete id="deleteFollow" parameterType="java.util.HashMap">
      delete from follow_store where storeId=#{store} and storefollowee=#{email} 
   </delete>
   
   <insert id="insertFollow" parameterType="java.util.HashMap">
      insert into follow_store values(#{email}, #{store}) 
   </insert>
   
   <delete id="deleteFollowMember" parameterType="java.util.HashMap">
      delete from follow_member where followee=#{follower} and follower=#{following} 
   </delete>
   
   <insert id="insertFollowMember" parameterType="java.util.HashMap">
      insert into follow_member values(#{follower}, #{following}) 
   </insert>
   
   <select id="selectFollowingStore" parameterType="String" resultType="com.yodde.storeModel.StoreDto">
      SELECT * FROM FOLLOW_STORE fs, STORE s WHERE fs.storefollowee=#{email} AND fs.storeid = s.storeid
   </select>
   
   <select id="selectFollowingMember" parameterType="String" resultType="com.yodde.memberModel.MemberDto">
      SELECT M.NICKNAME, M.PROFILEPIC, M.EMAIL FROM FOLLOW_MEMBER fm, MEMBER m WHERE fm.followee=#{email} AND FM.FOLLOWER = M.EMAIL
   </select>
   
   <select id="selectFollowerMember" parameterType="String" resultType="com.yodde.relationModel.RelationDto">
      SELECT M.NICKNAME, M.PROFILEPIC, fm.followee, fm.follower FROM FOLLOW_MEMBER fm, MEMBER m 
       WHERE (fm.follower=#{email} AND FM.FOLLOWEE = M.EMAIL) OR (fm.follower=M.EMAIL AND FM.FOLLOWEE = #{email})   
    </select>
   
   <select id="getFollowingCnt" parameterType="String" resultType="int">
      SELECT COUNT(follower)FROM FOLLOW_MEMBER WHERE FOLLOWEE=#{email}
   </select>
   
   <select id="getFollowerCnt" parameterType="String" resultType="int">
      SELECT COUNT(followee)FROM FOLLOW_MEMBER WHERE FOLLOWER=#{email}
   </select>
   
   <select id="getfollowingStoreCnt" parameterType="String" resultType="int">
      SELECT COUNT(STOREID)FROM FOLLOW_STORE WHERE STOREFOLLOWEE=#{email}
   </select>
</mapper>